# Name: LIM tools
# Author: Medical Imaging Laboratory (http://image.hggm.es)

Plugins>LIM Tools, "Average Frames", limtools.Average_Frames
Plugins>LIM Tools, "Dynamic Pixel Inspector", limtools.Dynamic_Pixel_Inspector
Plugins>LIM Tools, "Mask Dynamic Image", limtools.Mask_Dynamic_Image
Plugins>LIM Tools, "Measure Time Activity", limtools.Measure_Time_Activity
Plugins>LIM Tools, "Similarity Index", limtools.Similarity_Index
